// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$a-color: #8CBCB9;
$a-color-hover: #658A88;
$border-color: #DDDDDD;
$answer-bg-color: #FFFFE1;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

a {
  color: $a-color;
  text-decoration: none;
  margin: 20px;
  &:hover {
    color: $a-color-hover;
  }
}

.paragraph {
  padding: 5px;
  border-left: 6px solid $border-color;
  margin: 20px;
}

.answer{
background-color: $answer-bg-color;
}

.question-form {
  display: flex;
}

input[type=text] {
  font-size: 14px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #DDDDDD;
  width: 70%;
  padding: 0px 25px;}

input[type=submit] {
  background-color: #3279B7;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  border: none;
}
